# data folder containing *.log *.txt 
data/v5_batches
data/v5_csv
analysis_py/*pkl
analysis_py/*pyc
analysis_py/.ipynb_checkpoints
analysis_py/__pycache__
*.csv
.Rproj.user
analysis_R/.RData
analysis_R/.Rhistory
analysis_R/*csv
analysis_R/.Rproj
analysis_R/*.doc